@model IEnumerable<EscolaTCC.Models.Turma>

@{
    ViewData["Title"] = "Lista de Turmas";

    //Talvez essa lógica seja deprimente, porém é um bom desencargo de consciência.
    int resposta = Convert.ToInt32(ViewData["ResultadoTurma"]);

    if (resposta == 1)
    {
        <script type="text/JavaScript">
            alert('Turma cadastrada!');

        </script>
    }
    else if (resposta == 2)
    {
        <script type="text/JavaScript">
            alert('Falha no cadastro!');

        </script>
    }
    else
    {

    }
}

<h2>Lista de Turmas</h2>

<p>
    <a asp-action="Cadastro" style="margin-left:5%;">Cadastrar nova turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cdTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nmTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cdTurma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nmTurma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dsSerie)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
