@model IEnumerable<EscolaTCC.Models.BLL.TurmaAluno>

@{
    ViewData["Title"] = "Detalhes da Turma";
}

<h2>Index de TurmaAluno</h2>

<div class="container">
    <a asp-action="Cadastro">Cadastrar Professor e Matéria</a>
    <h2 style="text-align:center; margin:0 auto; display:block;">Código da Turma:@TempData["CodTurma"] &nbsp;&nbsp;Nome da Turma:@TempData["NomeTurma"] </h2>

    <table class="table" style="display:block; margin:0 auto;width:50%; border-color:dodgerblue">
        <thead>
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.Cd_Professor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nm_Professor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nm_Materia)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Cd_Professor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nm_Professor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nm_Materia)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr class="info">
                <th>
                    @Html.DisplayNameFor(model => model.Cd_Aluno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nm_Aluno)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cd_Aluno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nm_Aluno)
                    </td>
                    <td class="pull-right">
                        @Html.ActionLink("Editar", "Editar", new { id = item.Cd_Aluno }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Cd_Aluno }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
