@model IEnumerable<EscolaTCC.Models.BLL.TurmaAluno>

@{
    ViewData["Title"] = "Turma e Alunos";
}

<h2>Lista de Alunos na Turma</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cd_Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ds_Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cd_Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nm_Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cd_Turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ds_Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cd_Aluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nm_Aluno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
