@model IEnumerable<EscolaTCC.Models.BLL.Funcionario>

@{
    ViewData["Title"] = "Consulta de Professores";
}

<h2>Consulta de Professores</h2>

<p>
    <a asp-action="Index" style="margin-left:5%;">Cadastrar novo Professor</a>
</p>

<div class="container">
    <form class="" style="display:block; margin:0; width:50%;" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite o CPF do Professor" style="width:50%;">
            <button type="submit" class="btn btn-default">Pesquisar</button>
        </div>
    </form>
</div>
<hr />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cd_Func)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nm_Func)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.No_CpfFunc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.No_TelFunc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nm_EmailFunc)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cd_Func)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nm_Func)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.No_CpfFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.No_TelFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nm_EmailFunc)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Cd_Func }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Cd_Func }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Excluir", "Excluir", new { id = item.Cd_Func }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
