@{
//Precisamos desta sessão para pegar os valores das Sessions usadas
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string emailDiretor;

    emailDiretor = Convert.ToString(@HttpContextAccessor.HttpContext.Session.GetString("Email"));

    TempData["Email"] = emailDiretor;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instituição Restauração</title>

    <!--Icones do Font Awesome-->
    <script src="https://kit.fontawesome.com/b456e528b2.js"></script>

    <link rel="shortcut icon" href="~/images/icon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!--Dropdown inside dropdown from W3Schools-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>

</head>


<body>

    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Instituição Restauração</a>
            </div>
            <div class="navbar-collapse collapse">

                <!--To be fair, I don't know what I did here. Just got the script from that source.-->
                <!--https://stackoverflow.com/questions/32420028/how-to-create-dropdown-navbar-menu-item-in-layout-cshtml-in-asp-net-->
                <!--Credits go all to them!-->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Funcionários<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle test" role="button" tabindex="-1" aria-expanded="false" href="#" data-toggle="dropdown">Diretor<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Cadastro", "Index", "Professor")</li>
                                    <li>@Html.ActionLink("Consulta", "Consulta", "Professor")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle test" role="button" tabindex="-1" aria-expanded="false" href="#" data-toggle="dropdown">Secretaria<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Cadastro", "Index", "Secretaria")</li>
                                    <li>@Html.ActionLink("Consulta", "Consulta", "Secretaria")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle test" role="button" tabindex="-1" aria-expanded="false" href="#" data-toggle="dropdown">Professor<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Cadastro", "Index", "Professor")</li>
                                    <li>@Html.ActionLink("Consulta", "Consulta", "Professor")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Pais & Alunos<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle test" role="button" tabindex="-1" aria-expanded="false" href="#" data-toggle="dropdown">Responsável<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Cadastro", "Index", "Responsavel")</li>
                                    <li>@Html.ActionLink("Consulta", "Consulta", "Responsavel")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle test" role="button" tabindex="-1" aria-expanded="false" href="#" data-toggle="dropdown">Aluno<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Cadastro", "Index", "Aluno")</li>
                                    <li>@Html.ActionLink("Consulta", "Consulta", "Aluno")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Endereços<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Cadastro", "Index", "Endereco")</li>
                            <li>@Html.ActionLink("Consulta", "Index", "Endereco")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Turmas" asp-action="Index">Turmas</a></li>
                </ul>



                <!--Neither I know what I did here.-->
                <ul class="nav navbar-nav navbar-right">

                    <!--
                    <form class="navbar-form navbar-left" role="search">
                         <div class="form-group">
                             <input type="text" class="form-control" placeholder="Digite o que você procura">
                         </div>
                     <button type="submit" class="btn btn-default">Pesquisar</button>
                       </form>
                  -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown"><i class="fas fa-user-circle icon-bar" style="font-size: 1.20em; padding-right:15px;"></i>@TempData["Email"]<span class="caret"></span> </a>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Minha Conta", "Detalhes", "Login")</li>
                            <li>@Html.ActionLink("Sair", "Logoff", "Login")</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Hestya Softwares 2019 - Instituição Restauração Social</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
