@model IEnumerable<EscolaTCC.Models.BLL.ProfessorTurma>

@{
    ViewData["Title"] = "Professores das Turmas";
}

<h2>Professores das Turmas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cd_Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nm_Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nm_Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_AulasTotais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_AulasDadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cd_Turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nm_Professor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nm_Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_AulasTotais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_AulasDadas)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
